@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Makeable API documents.</h1>
    <p>

        We have developed a mobile application which uses API to get data and save it at local database.<br />
        Our API is return Json format and can be consumed with any devices.<br /><br />

        <strong>API/Area</strong><br />
        This will return list of area of Makeable application.<br /><br />

        <strong>API/Category</strong><br />
        This will return list of Functions<br /><br />

        <strong>API/Application Operation System</strong><br />
        This will return list of Application OS.<br /><br />

        <strong>API/Article</strong><br />
        This will return list of article from Makeable CMS.<br /><br />


        <strong>Dart/Flutter Development Usage</strong><br />
        Prerequisite<br />
        - Flutter and Dart Knowledge.<br />

        Create a class called DBProvider that will be responsible for creating our database, <br />the employees table, and the database operations like create, insert and delete data.<br /><br />
        <img src="https://i.imgur.com/udheFNb.png" alt="Smiley face" height="50%" width="50%">

        <br />
        <br />
        With our database created, we can now save data coming from our API directly into our local Sqlite database.<br />
        For this task, we will use a Dart library called Dio, which will provide us with all the functionality needed to access the API.<br />
        <img src="https://i.imgur.com/8lOP5Bx.png" alt="Smiley face" height="50%" width="50%">
    </p>
    <br/>
    <p>
        <br />
        To get list of Area :  <a href="https://www.makeablecms.come/api/areas" target="_blank">https://www.makeablecms.come/api/areas</a> <br />
        To get list of Function : <a href="https://www.makeablecms.come/api/category" target="_blank">https://www.makeablecms.come/api/cateogory</a> <br />
        To get list of Application : <a href="https://www.makeablecms.come/api/applications" target="_blank">https://www.makeablecms.come/api/applications</a> <br />
        To get list of Article : <a href="https://www.makeablecms.come/api/articles" target="_blank">https://www.makeablecms.come/api/articles</a><br />
    </p>
    <p>Please note. API will return data in Json format not XML.</p>
 
</div>

<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>